<h1>main 页面</h1>
<button (click)="generalClick()">
  普通点击
</button>
<p>普通点击{{ count1 }}次</p>
<button
  appDebounceClick
  [debounceTime]="1000"
  (debounceClick)="debounceClick()"
>
  节流点击
</button>
<p>节流点击{{ count2 }}次</p>
<button appDebounceClick [debounceTime]="1000" (debounceClick)="getweather()">
  请求天气数据
</button>
<div class="weather" *ngIf="weather !== undefined">
  <div class="line">
    <div>
      时间:
    </div>
    <div>{{ weather.date }} {{ weather.update_time }}</div>
  </div>
  <div class="line">
    <div>
      城市:
    </div>
    <div>
      {{ weather.city }}
    </div>
  </div>
  <div class="line">
    <div>
      天气:
    </div>
    <div>
      {{ weather.wea }}
    </div>
  </div>
  <div class="line">
    <div>
      湿度:
    </div>
    <div>
      {{ weather.humidity }}
    </div>
  </div>
  <div class="line">
    <div>
      空气等级:
    </div>
    <div>
      {{ weather.air_level }}
    </div>
  </div>
  <div class="line">
    <div>
      建议:
    </div>
    <div>
      {{ weather.air_tips }}
    </div>
  </div>
</div>
